<h1>Total per day</h1>

<table>
  <tr>
    <th>Price</th>
    <th>Date</th>
  </tr>

<% @accountbooks.each do |accountbook| %>
  <tr>
    <td><%= accountbook.price %></td>
    <td><%= accountbook.date %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Back', accountbooks_path %>

